@use '../helpers' as *;

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: rem(20);
  &__logo {
    font-size: rem(46);

    @include tablet {
      font-size: rem(36);
    }

    @include mobile-s {
      font-size: rem(26);
    }
  }
  &__subtitle {
    font-size: rem(21);
    font-style: italic;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    color: var(--color-black-light);
    margin: 0;

    @include tablet {
      font-size: rem(18);
    }

    @include mobile-s {
      font-size: rem(16);
    }
  }

}