@use '../helpers' as *;


.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  &__logo {
    font-size: rem(46);
    line-height: 1.2;
    color: var(--color-warning-500);
    text-shadow: rem(3) rem(3) var(--color-danger-700);
    margin: 0;
    text-align: center;
    text-transform: uppercase;
  }
  &__subtitle {
    font-size: rem(21);
    font-style: italic;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    color: var(--color-grey-500);
    margin: 0;
  }
}