*,
::before,
::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  scrollbar-gutter: stable;
}

html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

a:where([class]) {
  display: inline-flex;
}

button,
label {
  cursor: pointer;
}

[fill] {
  fill: currentColor;
}

[stroke] {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@media (hover: hover) {
  .skill-card:hover {
    box-shadow: var(--shadowAfter);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-main: #111111;
    --color-light-100: #ffffff;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --color-main: #ececec;
    --color-light-100: #000000;
  }
}
:root {
  --color-white: #fff;
  --color-black: #1f1e19;
  --color-yellow: #ecd41a;
  --color-yellow-dark: #c8b416;
  --color-orange: #dd6428;
  --color-red: #d31c34;
  --color-pink: #c92086;
  --color-black-light: #6e6a51;
  --color-black-light-100: #4e4d41;
  --color-black-middle: #414036;
  --color-black-middle-100: #3b3a31;
  --color-black-dark: #2d2c25;
  --color-grey: #b6b4a2;
  --color-body: var(--color-white);
  --carousel-height: 19.5625rem;
  --card-height:20rem;
}

html {
  scroll-behavior: smooth;
}
html.is-lock {
  overflow: hidden;
}

body {
  font-size: clamp(0.875rem, 0.7944214876rem + 0.3305785124vw, 1.125rem);
  transition-duration: 0ms;
  font-family: var(--font-family-base), sans-serif;
  color: var(--color-light-100);
  background-color: var(--color-black);
}

main {
  margin-top: 2.1875rem;
}

.disable-transitions *:hover {
  transition: none !important;
}

p, span {
  font-weight: 300;
}

a:hover,
button:hover,
label:hover,
input:hover,
textarea:hover,
select:hover,
span:hover,
*:hover {
  transition-duration: var(--transition-duration);
}

a, button > svg {
  color: inherit;
}
@media (any-hover: hover) {
  a:hover, button > svg:hover {
    color: var(--color-accent);
    cursor: pointer;
  }
}
@media (any-hover: none) {
  a:active, button > svg:active {
    color: var(--color-accent);
    cursor: pointer;
  }
}
a[class], button > svg[class] {
  text-decoration: none;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--color-light-100);
  font-weight: 300;
}

h1, .h1 {
  font-size: clamp(1.875rem, 0.5454545455rem + 5.4545454545vw, 6rem);
}

h2, .h2 {
  font-size: clamp(1.5rem, 1.097107438rem + 1.652892562vw, 2.75rem);
}

h3, .h3 {
  font-size: clamp(1.25rem, 1.1694214876rem + 0.3305785124vw, 1.5rem);
}

h3, .h4 {
  font-size: clamp(0.875rem, 0.7944214876rem + 0.3305785124vw, 1.125rem);
}

:focus-visible {
  outline: 0.125rem dashed var(--color-light-100);
  outline-offset: 0.25rem;
  transition-duration: 0s !important;
}

[js-animation] {
  transform: translate(0, 7.5rem);
  opacity: 0;
  transition: all 0.5s ease;
}

[js-animation].active {
  transform: translate(0, 0);
  opacity: 1;
}

.container {
  margin: 0 auto;
  max-width: 63.75rem;
  padding: 0 0.625rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 1.25rem;
}
.header__logo {
  font-size: 2.875rem;
}
.header__subtitle {
  font-size: 1.3125rem;
  font-style: italic;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  color: var(--color-black-light);
  margin: 0;
}

.carousel {
  height: var(--carousel-height);
  position: relative;
  overflow: hidden;
}
.carousel__caption {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  height: 4.375rem;
  background-color: var(--color-black-dark);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.carousel__price {
  position: absolute;
  right: 0;
  bottom: 100%;
  display: inline-block;
  padding: 0.5rem;
  min-width: 4.5rem;
  text-align: center;
  background-color: var(--color-pink);
  color: var(--color-body);
  font-family: var(--font-primary), sans-serif;
  font-weight: 700;
  font-size: 1.0625rem;
  line-height: 1.2;
}
.carousel__title {
  text-align: center;
  font-weight: 500;
  font-size: 1.3125rem;
  font-style: italic;
  line-height: 1.2;
  width: 100%;
  padding: 0 1.25rem;
}
.carousel__button {
  background-color: var(--color-yellow);
  width: 4.5rem;
  flex: 1 0 4.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s all;
}
.carousel__button:hover, .carousel__button:active {
  background-color: var(--color-yellow-dark);
}
.carousel__inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 1s ease;
}
.carousel__slide {
  width: 100%;
  min-width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
}
.carousel__arrow {
  position: absolute;
  z-index: 3;
  bottom: 0;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 4.375rem;
  height: 4.375rem;
}
.carousel__arrow_right {
  right: 0;
}
.carousel__arrow_left {
  left: 0;
}
.carousel__arrow img, .carousel__arrow svg {
  max-width: 1.25rem;
}
.carousel__img {
  min-width: 100%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media all and (max-width: 767px) {
  .carousel {
    padding-bottom: 3.5625rem;
  }
  .carousel__caption {
    left: 0;
    height: 3.5625rem;
  }
  .carousel__arrow {
    bottom: 3.5625rem;
  }
  .carousel__arrow_right img,
  .carousel__arrow_right svg {
    margin-top: 0;
  }
  .carousel__arrow_left img,
  .carousel__arrow_left svg {
    margin-bottom: 0;
  }
}
@media (max-width: 992px) {
  .carousel__img {
    position: absolute;
    top: 0;
    left: 0;
    transform: none;
  }
}
.title {
  line-height: 1.2;
  color: var(--color-yellow);
  text-shadow: 0.1875rem 0.1875rem var(--color-pink);
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.p40 {
  padding: 2.5rem 0;
}

.ribbon {
  margin-bottom: 2.375rem;
  height: 3.125rem;
  overflow: hidden;
  position: relative;
}
.ribbon__inner {
  padding-bottom: 0.9375rem;
  margin-bottom: -0.9375rem;
  box-sizing: content-box;
  display: flex;
  flex-direction: row;
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: auto;
}
.ribbon__arrow {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  width: 7.5rem;
  outline: none;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
}
.ribbon__arrow_left {
  left: 0;
  background: linear-gradient(90deg, var(--color-black) 25%, var(--color-black) 61%, rgba(31, 30, 25, 0) 100%);
  padding-left: 0.875rem;
}
.ribbon__arrow_left img {
  transform: rotate(180deg);
}
.ribbon__arrow_right {
  right: 0;
  background: linear-gradient(90deg, rgba(31, 30, 25, 0) 25%, var(--color-black) 61%, var(--color-black) 100%);
  text-align: right;
  align-items: flex-end;
  padding-right: 0.875rem;
}
.ribbon__arrow_visible {
  display: flex;
}
.ribbon__arrow img {
  width: 8px;
}
.ribbon__arrow:hover img {
  opacity: 0.8;
}
.ribbon__item {
  color: var(--color-body);
  background: var(--color-black-dark);
  padding: 0.8125rem 2.375rem;
  font-size: 1.3125rem;
  font-style: italic;
  line-height: 1.2;
  font-weight: 500;
  text-decoration: none;
  white-space: nowrap;
  border: none;
  border-left: 1px solid var(--color-black);
  cursor: pointer;
}
.ribbon__item:first-child {
  border-left: none;
}
.ribbon__item_active, .ribbon__item:hover {
  background-color: var(--color-black-light);
}

@media all and (max-width: 767px) {
  .ribbon {
    margin-bottom: 0;
  }
  .ribbon__item {
    font-size: 1.125rem;
    padding: 0.8125rem;
  }
  .ribbon__arrow {
    display: none;
  }
  .ribbon__arrow.ribbon__arrow_visible {
    display: none;
  }
}
.slider {
  position: relative;
  background-color: var(--color-black-dark);
  margin: 0 1rem;
  width: 20.625rem;
  height: 0.5rem;
  border-radius: 0.1875rem;
  cursor: pointer;
}
.slider__progress {
  height: 0.5rem;
  border-radius: 0.1875rem;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 1;
  background: linear-gradient(90deg, var(--color-yellow) 0%, var(--color-orange) 52%, var(--color-red) 100%);
  transform: translate(0, -50%);
}
.slider__thumb {
  background-color: var(--color-white);
  border-radius: 0.1875rem;
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 0;
  margin-left: -10px;
  transform: translate(0, -50%);
  cursor: grab;
  transition: left 0.15s, width 0.15s;
}
.slider__thumb_dragging {
  cursor: grabbing;
  transition: none;
}
.slider__value {
  color: var(--color-white);
  font-size: 0.75rem;
  font-weight: 700;
  position: absolute;
  left: 0;
  top: calc(100% + 6px);
  text-align: center;
  width: 100%;
  pointer-events: none;
  cursor: default;
}
.slider__steps {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  position: absolute;
  top: calc(100% - 2px);
  left: 0;
  right: 0;
}
.slider__steps > span {
  background-color: var(--color-black-dark);
  display: inline-flex;
  width: 0.125rem;
  height: 0.5625rem;
  margin-left: -1px;
  transition: 0.2s height;
}
.slider__steps > span:first-child, .slider__steps > span:last-child {
  margin-left: 0;
}
.slider__steps .slider__step-active {
  background-color: var(--color-black-light);
  height: 0.875rem;
}

.slider_dragging .slider__thumb {
  cursor: grabbing;
}

.filters__checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  display: inline-flex;
  padding: 0;
  line-height: 1;
}
.styled-checkbox + label:before {
  content: "";
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.75rem;
  box-sizing: border-box;
  background: var(--color-black-dark);
  border: 2px solid #8d8a73;
  border-radius: 0.125rem;
  transition: background-color 0.2s, border-color 0.2s, opacity 0.2s;
}
.styled-checkbox:checked + label::before {
  background-image: url("/client/public/icons/check-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.875rem 0.875rem;
}
.styled-checkbox + label span {
  vertical-align: middle;
}

.filters__label {
  font-size: 1.125rem;
  line-height: 1.2;
}

.filter-group {
  display: flex;
  height: 5rem;
  padding: 1.25rem 2.125rem;
  flex-direction: row;
  align-items: center;
  border: 0.125rem solid var(--color-black-light);
  margin-bottom: 1.5rem;
}

.label {
  font-size: 1.125rem;
  line-height: 1.2;
  color: var(--color-grey);
  margin-right: 1.25rem;
  cursor: auto;
}

.card {
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  position: relative;
  transition: 0.2s all;
  cursor: pointer;
}
.card:hover, .card:hover .card__body {
  background-color: var(--color-black-middle-100);
}
.card:hover .card__top {
  background-color: var(--color-black-light-100);
}
.card__top {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--color-black-middle);
}
.card__image {
  max-width: calc(100% - 100px);
  width: 100%;
}
.card__price {
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-block;
  padding: 0.5rem;
  min-width: 4.5rem;
  text-align: center;
  background-color: var(--color-pink);
  color: var(--color-body);
  font-weight: 700;
  font-size: 1.0625rem;
  line-height: 1.2;
}
.card__body {
  height: 4.375rem;
  background-color: var(--color-black-dark);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.card__title {
  text-align: center;
  font-weight: 500;
  font-size: 1.3125rem;
  font-style: italic;
  line-height: 1.2;
  width: 100%;
}
.card__button {
  background-color: var(--color-yellow);
  width: 4.5rem;
  flex: 1 0 4.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.card__button:hover, .card__button:active {
  background-color: var(--color-yellow-dark);
}

@media all and (max-width: 767px) {
  .card {
    margin-bottom: 16px;
    height: auto;
  }
}
.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.625rem;
}

/*# sourceMappingURL=main.css.map */
